<div class="navbar bg-transparent text-white px-10 absolute z-10 top-0">
  <div class="navbar-start hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/try">Inicio</a></li>
      <li><a>Servicios</a></li>
      <li><a>Galería</a></li>
    </ul>
  </div>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-md btn-circle border-0 shadow-none bg-black/50 p-2 lg:hidden">
        <img src="img/burger.png"/>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-black/50 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/try">Inicio</a></li>
        <li><a>Servicios</a></li>
        <li><a>Galería</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-end flex gap-2">
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social01.png" alt="tiktok">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social02.png" alt="whatsapp">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social03.png" alt="facebook">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social04.png" alt="instagram">
		</button>
	</div>
</div>