<div class="navbar bg-transparent text-white px-10 absolute top-0">
	<div class="flex-1 gap-6">
		<a class="link link-hover" href="/">Inicio</a>
		<a class="link link-hover">Servicios</a>
		<a class="link link-hover">Galería</a>
	</div>
	<div class="flex gap-2">
		<button class="btn btn-md btn-circle bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social01.png" alt="">
		</button>
		<button class="btn btn-md btn-circle bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social02.png" alt="">
		</button>
		<button class="btn btn-md btn-circle bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social03.png" alt="">
		</button>
		<button class="btn btn-md btn-circle bg-black/50 hover:scale-110 transition-transform">
			<img class="p-2" src="img/social04.png" alt="">
		</button>
	</div>
</div>

<section class="hero min-h-screen"
	style="background-image:url('img/background.jpg')">

	<div class="hero-overlay bg-gradient-to-red from-blue-900/0 to-green-900/10"></div>

	<div class="hero-content text-center text-white">
		<div>
			<h1 class="text-6xl font-bold">CéspedPro</h1>
			<p class="py-6 text-2xl max-w-xl mx-auto">
				Expertos en mantención de canchas de pádel,
				fútbol sintético y jardines con pasto sintético
			</p>
			<button class="btn btn-success text-white btn-lg rounded-full hover:bg-green-800">
				Solicita tu presupuesto GRATIS
			</button>
		</div>
	</div>

</section>

<!-- Servicios inferiores -->
<div class="absolute bottom-10 left-1/2 -translate-x-1/2 w-full">
<div class="flex justify-center gap-16 text-white">

	<!-- Item 1 -->
	<div class="flex flex-col items-center">
		<img src="img/icon01.png" class="w-14 h-14 mb-3" alt="Pádel">
		<p class="text-lg font-medium text-center">
			Canchas de pádel
		</p>
	</div>

	<!-- Item 2 -->
	<div class="flex flex-col items-center">
		<img src="img/icon02.png" class="w-14 h-14 mb-3" alt="Fútbol">
		<p class="text-lg font-medium text-center">
			Canchas de fútbol sintético
		</p>
	</div>

	<!-- Item 3 -->
	<div class="flex flex-col items-center">
		<img src="img/icon03.png" class="w-14 h-14 mb-3" alt="Jardín">
		<p class="text-lg font-medium text-center">
			Jardines y patios sintéticos
		</p>
	</div>

</div>
</div>

</div>